<ol class="breadcrumb">
    <li ><button md-button class="example-fab" (click)="sidenav.toggle()" style=" float: left">
    <md-icon class="material-icons mat-icon">menu</md-icon>
</button>
    </li>
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active">Library</li>
</ol>