:first-child

.breadcrumb {
    padding:0px !important;
    margin-bottom:0px !important;
    list-style: none;
    background-color: #eceeef;
    border-radius: .25rem;
}


button.example-fab.mat-button {
    background: #666 !important;
    padding: 9px 0px !important;
}