.container-home-um {
    color: #fff;
}

.container-home-um .descricao {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.71);
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

.collection .collection-item.avatar {
    min-height: 65px;
    padding-left: 72px;
    position: relative;
}

blockquote {
    margin: 20px 0;
    padding-left: 1.5rem;
    border-left: 5px solid #304ffe;
}