<ul class="collection">
    <li class="collection-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <a routerLink="/admin/alunos"> Alunos </a>
    </li>
    <li class="collection-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <a routerLink="/admin/professores"> Professor </a>
    </li>
    <li class="collection-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <a routerLink="/admin/funcionarios"> Funcionário </a>
    </li>
    <li class="collection-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <a routerLink="/admin/historico-escolar"> Funcionário </a>
    </li>
    <li>
        <ul class="collapsible" data-collapsible="accordion">
            <li>

                <a routerLink="/admin/secretaria/apresentacao"> Apresentação </a>
                <a routerLink="/admin/secretaria/secretaria-escolar"> Secretaria Escolar </a>
                <a routerLink="/admin/secretaria/atribuicoes-secretaria"> Atribuições da Secretaria Escolar </a>
                <a routerLink="/admin/secretaria/perfil-secretario"> Perfil do Secretário Escolar </a>
                <a routerLink="/admin/secretaria/dia-dia-secretaria"> O dia-a-dia da secretaria da Escola </a>
                <a routerLink="/admin/secretaria/vida-legal-estabelecimento-ensino"> Vida legal do Estabelecimento de Ensino </a>
                <a routerLink="/admin/secretaria/documentacao-geral"> Documentação Geral </a>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">place</i>Professor</div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
        </ul>
    </li>
</ul>