<div class="sidenav-container">
    <div class="municipio-atual">
        <div class="logo-container">
            <img class="img-fluid" src="../../../../assets/person.png">
        </div>
        <a href=""><span class="white-text email">EUDOPULIS</span></a>
    </div>

    <ul id="slide-nav" class="nav flex-column">

        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-item">
            <a class="nav-link" data-toggle="collapse" data-target="#submenu1">Alunos</a>

            <ul class="list-unstyled flex-column pl-3 collapse" id="submenu1" aria-expanded="false">

                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-item">
                    <a class="nav-link" [routerLink]="['alunos','alunos-lista']">Lista de Alunos </a>
                </li>

                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-item">
                    <a class="nav-link" [routerLink]="['alunos','novo']"> Cadastro de Alunos </a>
                </li>
            </ul>
        </li>

        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <a class="nav-link" href="#" routerLink="/admin/professores"> Professor </a>
        </li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <a class="nav-link" href="#" routerLink="/admin/funcionarios"> Funcionário </a>
        </li>


        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-item">
            <a class="nav-link" data-toggle="collapse" data-target="#submenu2" routerLinkActive="active">Secretaria</a>
            <ul class="list-unstyled flex-column pl-3 collapse" id="submenu2" aria-expanded="false">

                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-item">
                    <a class="nav-link" [routerLink]="['secretaria','apresentacao']"> Apresentação </a>
                </li>

                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-item">
                    <a class="nav-link" routerLink="/admin/secretaria/secretaria-escolar"> Secretaria Escolar </a></li>

                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-item">
                    <a class="nav-link" routerLink="/admin/secretaria/atribuicoes-secretaria"> Atribuições da Secretaria Escolar </a>
                </li>

                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-item">
                    <a class="nav-link" routerLink="/admin/secretaria/perfil-secretario"> Perfil do Secretário Escolar </a>
                </li>

                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-item">
                    <a class="nav-link" routerLink="/admin/secretaria/dia-dia-secretaria"> O dia-a-dia da secretaria da Escola </a>
                </li>

                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-item">
                    <a class="nav-link" routerLink="/admin/secretaria/vida-legal-estabelecimento-ensino"> Vida legal do Estabelecimento</a>
                </li>

                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-item">
                    <a class="nav-link" routerLink="/admin/secretaria/documentacao-geral"> Documentação Geral </a>
                </li>

            </ul>
        </li>

    </ul>
</div>