
.sidenav-container{
    height: 100%;
    min-height: 90vh;
    background: #3d4c5a;
}

#slide-nav li a{
  color: #999;
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    width: 100%;
    padding: 5px 13px;
    font-weight: 400;
     border-right: 2px solid transparent;
     transition: 1ms;
}

#slide-nav li.active{
    background: rgba(0,0,0,0.5)

}

#slide-nav li.active a{
    border-right: 4px solid #999;
}

#slide-nav li a:hover{
  color: #999;
  border-right: 4px solid #999;
  background-color: rgba(0, 0, 0, .12);
}

.municipio-atual {
    position: relative;
    padding: 15px 0px 5px 0px;
    margin-bottom: 0px;
    list-style: none;
    text-align: center;
    background-color: rgba(0, 0, 0, .12);
}

.municipio-atual .logo-container {
    width: 100%;
    height: 80px;
    overflow: hidden;
    display: block;
    clear: both;
    text-align: center
}

.municipio-atual .logo-container img {
    height: 80px;
}