<nav class="navbar navbar-toggleable-md navbar-light bg-primary">

  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand" href="#"><img src="../../../../assets/logo-sedum-header.png" alt="Uroclinica" class="responsive-img logo-header" /></a>

  <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item active" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" [routerLink]="['/home']">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">

        <button md-icon-button [mdMenuTriggerFor]="menu">
          <md-icon>settings</md-icon>
        </button>
        <md-menu #menu="mdMenu">
          <button md-menu-item>
            <md-icon>account_box</md-icon>
            <span>Perfil</span>
          </button>
          
          <button md-menu-item disabled>
            <md-icon>exit_to_app</md-icon>
            <span>Sair</span>
          </button>
        </md-menu>

      </li>

    </ul>
  </div>
</nav>