<nav class="navbar navbar-toggleable-md navbar-light bg-faded fixed-top bg-primary">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
        <a class="navbar-brand" href="#"><img src="../../../../assets/logo-sedum-header.png" alt="SEDUM" class="responsive-img logo-header" /></a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav" style="padding-left: 70px;">

                <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                    <a class="nav-link" [routerLink]="['home']"> HOME <span class="sr-only">(current)</span> </a>
                </li>

                <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                    <a class="nav-link" [routerLink]="['sobre']">O que é o SEDUM</a>
                </li>

                <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                    <a class="nav-link" [routerLink]="['resultados']">Resultados</a>
                </li>

                <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                    <a class="nav-link" [routerLink]="['municipios']">Municípios</a>
                </li>

                <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                    <a class="nav-link" [routerLink]="['sedum']">O SEDUM</a>
                </li>

                <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                    <a class="nav-link" [routerLink]="['incompany']">In Company</a>
                </li>

                <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                    <a class="nav-link" [routerLink]="['/login']">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
