.logo-header{
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
}

.navbar{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
nav ul a {
    transition: background-color .3s;
    font-size: .9rem;
    color: #fff;
    display: block;
    padding: 0 15px;
    cursor: pointer;
}

@media only screen and (min-width:601px) {
    .container-menu {
        width: 85%;
    }
}

@media only screen and (min-width:993px) {
    .container-menu {
        width: 70%;
    }
}

.container-menu {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}

.nav-item a{
    padding-top: 21px !important;
    padding-bottom: 21px  !important;
  border-bottom: 2px solid transparent;
}

.nav-item a:hover{
      color: #fff;
    background: rgba(5, 72, 130, 0.5);
    border-bottom: 2px solid #fff;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .open>.nav-link {
    color: #fff;
    background: rgba(5, 72, 130, 0.5);
    border-bottom: 2px solid #fff;
}