<footer class="page-footer bg-primary">
    <div class="container">

        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" href="http://www.mec.gov.br" target="_blank">MEC</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://www.fnde.gov.br" target="_blank">FNDE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://www.pddeinterativo.mec.gov.br" target="_blank">PDDE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://www.seed.se.gov.br" target="_blank">SEED</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" target="_blank">NOTÍCIA</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" target="_blank">LEGISLAÇÃO</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://www.pne.mec.gov.br" target="_blank">PNE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://www.pne.mec.gov.br" target="_blank">PEE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" target="_blank">PUBLICAÇÕES</a>
            </li>
        </ul>
    </div>

    <div class="footer-copyright blue darken-4">
        <div class="container" style="text-align: center;">
            © 2017 Copyright SEDUM
            <a class="grey-text text-lighten-4 right" href="http://avatarb2b.com.br" target="_blank">Desenvolvido por Avatar B2B</a>
        </div>
    </div>
</footer>