.page-footer {
    font-weight: 300;
}

.page-footer, .page-footer a {
    color:#fff;
}

.page-footer a:hover {
    text-decoration: underline;
}

.page-footer h5 {
    font-size: 1.3rem;
    font-weight: 400;
}