html,body{height:100% !important;}
.carousel-inner,.carousel,.item,.container,.fill {
  height:100%;
  width:100%;
  background-position:center center;
}


.carousel-caption {
    position: absolute;
    right: 10%;
    bottom: 55%;
    left: 10%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}