<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active ">
            <img src="../../../../assets/site/slide/home-slide.jpg" alt="" style="width: 100%">
            <div class="carousel-caption d-none d-md-block">
                <h1 style="">EDUCAÇÃO DE QUALIDADE LEVADA A SÉRIO</h1>
                <h3 style="">Informação precisa para uma melhor tomada de decisão no tempo e na hora certa.</h3>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-secondary">Abrace esta idéia</button>
                    <button type="button" class="btn btn-primary">Solicite a visita do nosso consultor</button>
                </div>
            </div>
        </div>
    </div>
</div>