<div class="container-fluid">
  <!-- =============================DADOS PESSOAIS ============================= -->
  <div class="div-titulo">Dados Pessoais</div>

  <form class="row" [formGroup]="formulario">

    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
      <md-input-container class="form-full-width">
        <input mdInput placeholder="Nome" formControlName="nome">
      </md-input-container>
    </div>

    <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2">
      <md-input-container class="form-full-width">
        <input mdInput placeholder="Educacenso cod" formControlName="mat_educacenso">
      </md-input-container>
    </div>

    <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2">
      <md-input-container class="form-full-width">
        <input mdInput placeholder="Identificação INEP" formControlName="ident_inep">
      </md-input-container>
    </div>

    <div class="col-sm-12 col-md-4 col-lg-2 col-xl-2">
      <md-input-container class="form-full-width">
        <input mdInput placeholder="NIS (PIS/PASEP/NIT)" formControlName="pis">
      </md-input-container>
    </div>

    <div class="col-sm-12 col-md-4 col-lg-2 col-xl-2">
      <md-input-container class="form-full-width">
        <input mdInput placeholder="Data de Nascimento" formControlName="data_nasc">
      </md-input-container>
    </div>

    <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2">
      <md-input-container class="form-full-width">
        <input mdInput placeholder="Naturalidade" formControlName="naturalidade">
      </md-input-container>
    </div>

    <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2">
      <md-input-container>
        <input mdInput placeholder="UF" [mdAutocomplete]="uf" formControlName="uf">
      </md-input-container>
      <md-autocomplete #uf="mdAutocomplete">
        <md-option value="AC">Acre</md-option>
        <md-option value="AL">Alagoas</md-option>
        <md-option value="AP">Amapá</md-option>
        <md-option value="AM">Amazonas</md-option>
        <md-option value="BA">Bahia</md-option>
        <md-option value="CE">Ceará</md-option>
        <md-option value="DF">Distrito Federal</md-option>
        <md-option value="ES">Espirito Santo</md-option>
        <md-option value="GO">Goiás</md-option>
        <md-option value="MA">Maranhão</md-option>
        <md-option value="MS">Mato Grosso do Sul</md-option>
        <md-option value="MT">Mato Grosso</md-option>
        <md-option value="MG">Minas Gerais</md-option>
        <md-option value="PA">Pará</md-option>
        <md-option value="PB">Paraíba</md-option>
        <md-option value="PR">Paraná</md-option>
        <md-option value="PE">Pernambuco</md-option>
        <md-option value="PI">Piauí</md-option>
        <md-option value="RJ">Rio de Janeiro</md-option>
        <md-option value="RN">Rio Grande do Norte</md-option>
        <md-option value="RS">Rio Grande do Sul</md-option>
        <md-option value="RO">Rondônia</md-option>
        <md-option value="RR">Roraima</md-option>
        <md-option value="SC">Santa Catarina</md-option>
        <md-option value="SP">São Paulo</md-option>
        <md-option value="SE">Sergipe</md-option>
        <md-option value="TO">Tocantins</md-option>
      </md-autocomplete>
    </div>

    <div class="col-sm-12 col-md-4 col-lg-2 col-xl-2">
      <md-input-container class="form-full-width">
        <input mdInput placeholder="RG" formControlName="rg">
      </md-input-container>
    </div>

    <div class="col-sm-12 col-md-4 col-lg-2 col-xl-2">
      <md-input-container class="form-full-width">
        <input mdInput placeholder="Órgão Expedidor RG" formControlName="org">
      </md-input-container>
    </div>

    <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2">
      <md-input-container>
        <input mdInput placeholder="UF (RG)" [mdAutocomplete]="ufrg" formControlName="uf_rg">
      </md-input-container>
      <md-autocomplete #ufrg="mdAutocomplete">
        <md-option value="AC">Acre</md-option>
        <md-option value="AL">Alagoas</md-option>
        <md-option value="AP">Amapá</md-option>
        <md-option value="AM">Amazonas</md-option>
        <md-option value="BA">Bahia</md-option>
        <md-option value="CE">Ceará</md-option>
        <md-option value="DF">Distrito Federal</md-option>
        <md-option value="ES">Espirito Santo</md-option>
        <md-option value="GO">Goiás</md-option>
        <md-option value="MA">Maranhão</md-option>
        <md-option value="MS">Mato Grosso do Sul</md-option>
        <md-option value="MT">Mato Grosso</md-option>
        <md-option value="MG">Minas Gerais</md-option>
        <md-option value="PA">Pará</md-option>
        <md-option value="PB">Paraíba</md-option>
        <md-option value="PR">Paraná</md-option>
        <md-option value="PE">Pernambuco</md-option>
        <md-option value="PI">Piauí</md-option>
        <md-option value="RJ">Rio de Janeiro</md-option>
        <md-option value="RN">Rio Grande do Norte</md-option>
        <md-option value="RS">Rio Grande do Sul</md-option>
        <md-option value="RO">Rondônia</md-option>
        <md-option value="RR">Roraima</md-option>
        <md-option value="SC">Santa Catarina</md-option>
        <md-option value="SP">São Paulo</md-option>
        <md-option value="SE">Sergipe</md-option>
        <md-option value="TO">Tocantins</md-option>
      </md-autocomplete>
    </div>

    <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2">
      <md-input-container class="form-full-width">
        <input mdInput placeholder="Data Expedição RG" formControlName="data_exp">
      </md-input-container>
    </div>

    <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2">
      <md-input-container>
        <input mdInput placeholder="Sexo" [mdAutocomplete]="sexo" formControlName="	sexo">
      </md-input-container>
      <md-autocomplete #sexo="mdAutocomplete">
        <md-option value="Masculino">Masculino</md-option>
        <md-option value="Feminino">Feminino</md-option>
      </md-autocomplete>
    </div>

    <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2">
      <md-input-container>
        <input mdInput placeholder="Cor ou Raça" [mdAutocomplete]="raca" formControlName="raca">
      </md-input-container>
      <md-autocomplete #raca="mdAutocomplete">
        <md-option value="Branca">Branca</md-option>
        <md-option value="Negra">Negra</md-option>
        <md-option value="Parda">Parda</md-option>
        <md-option value="Indigena">Indigena</md-option>
        <md-option value="Nao Declarada">Nao Declarada</md-option>
      </md-autocomplete>
    </div>

    <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2">
      <md-input-container>
        <input mdInput placeholder="Nacionalidade" [mdAutocomplete]="nacionalidade" formControlName="nacionalidade">
      </md-input-container>
      <md-autocomplete #nacionalidade="mdAutocomplete">
        <md-option value="Brasileiro">Brasileiro</md-option>
        <md-option value="Estrangeiro">Estrangeiro</md-option>
        <md-option value="Brasileira(nascido no exterior naturalizado">Brasileira(nascido no exterior naturalizado</md-option>
      </md-autocomplete>
    </div>

    <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2">
      <md-input-container class="form-full-width">
        <input mdInput placeholder="Doc Estrangeiro" formControlName="doc_estrangeiro">
      </md-input-container>
    </div>

    <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2">
      <md-input-container class="form-full-width">
        <input mdInput placeholder="Telefone Fixo" formControlName="tel_fixo">
      </md-input-container>
    </div>

    <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2">
      <md-input-container class="form-full-width">
        <input mdInput placeholder="Celular" formControlName="celular">
      </md-input-container>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <md-input-container class="form-full-width">
        <input mdInput placeholder="Pai" formControlName="">
      </md-input-container>
    </div>

    <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
      <md-input-container class="form-full-width">
        <input mdInput placeholder="Profissão" formControlName="">
      </md-input-container>
    </div>


    <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
      <md-input-container class="form-full-width">
        <input mdInput placeholder="Celular" formControlName="">
      </md-input-container>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <md-input-container class="form-full-width">
        <input mdInput placeholder="Mãe" formControlName="">
      </md-input-container>
    </div>

    <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
      <md-input-container class="form-full-width">
        <input mdInput placeholder="Profissão" formControlName="">
      </md-input-container>
    </div>

    <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
      <md-input-container class="form-full-width">
        <input mdInput placeholder="Celular" formControlName="">
      </md-input-container>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <md-input-container class="form-full-width">
        <input mdInput placeholder="Responsavel" formControlName="">
      </md-input-container>
    </div>

    <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
      <md-input-container class="form-full-width">
        <input mdInput placeholder="Profissão" formControlName="">
      </md-input-container>
    </div>

    <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
      <md-input-container class="form-full-width">
        <input mdInput placeholder="Celular" formControlName="">
      </md-input-container>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <md-input-container class="form-full-width">
        <input mdInput placeholder="Logradouro" formControlName="">
      </md-input-container>
    </div>

    <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2">
      <md-input-container class="form-full-width">
        <input mdInput placeholder="Número" formControlName="">
      </md-input-container>
    </div>

    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
      <md-input-container class="form-full-width">
        <input mdInput placeholder="Complemento" formControlName="">
      </md-input-container>
    </div>

    <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2">
      <md-input-container>
        <input mdInput placeholder="UF (RG)" [mdAutocomplete]="ufend" formControlName="">
      </md-input-container>
      <md-autocomplete #ufend="mdAutocomplete">
        <md-option value="AC">Acre</md-option>
        <md-option value="AL">Alagoas</md-option>
        <md-option value="AP">Amapá</md-option>
        <md-option value="AM">Amazonas</md-option>
        <md-option value="BA">Bahia</md-option>
        <md-option value="CE">Ceará</md-option>
        <md-option value="DF">Distrito Federal</md-option>
        <md-option value="ES">Espirito Santo</md-option>
        <md-option value="GO">Goiás</md-option>
        <md-option value="MA">Maranhão</md-option>
        <md-option value="MS">Mato Grosso do Sul</md-option>
        <md-option value="MT">Mato Grosso</md-option>
        <md-option value="MG">Minas Gerais</md-option>
        <md-option value="PA">Pará</md-option>
        <md-option value="PB">Paraíba</md-option>
        <md-option value="PR">Paraná</md-option>
        <md-option value="PE">Pernambuco</md-option>
        <md-option value="PI">Piauí</md-option>
        <md-option value="RJ">Rio de Janeiro</md-option>
        <md-option value="RN">Rio Grande do Norte</md-option>
        <md-option value="RS">Rio Grande do Sul</md-option>
        <md-option value="RO">Rondônia</md-option>
        <md-option value="RR">Roraima</md-option>
        <md-option value="SC">Santa Catarina</md-option>
        <md-option value="SP">São Paulo</md-option>
        <md-option value="SE">Sergipe</md-option>
        <md-option value="TO">Tocantins</md-option>
      </md-autocomplete>
    </div>

    <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2">
      <md-input-container>
        <input mdInput placeholder="Municipio" [mdAutocomplete]="municipio" formControlName="">
      </md-input-container>
      <md-autocomplete #municipio="mdAutocomplete">
        <md-option value="AC">Edúpolis</md-option>
        <md-option value="AL">Poço Redondo</md-option>
        <md-option value="AP">Amapá</md-option>
      </md-autocomplete>
    </div>

    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
      <md-input-container class="form-full-width">
        <input mdInput placeholder="Localização/Zona de residência:" formControlName="">
      </md-input-container>
    </div>

    <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2">
      <md-input-container class="form-full-width">
        <input mdInput placeholder="CEP" formControlName="">
      </md-input-container>
    </div>

    <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2">
      <md-input-container class="form-full-width">
        <input mdInput placeholder="Bairro" formControlName="">
      </md-input-container>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-120col-xl-12 div-titulo">Certidão</div>

    <div class="col-sm-12 col-md-12 col-lg-120col-xl-12">
      <md-radio-group formControlName="">
        <md-radio-button value="1">Existente</md-radio-button>
        <md-radio-button value="2">Novo</md-radio-button>
      </md-radio-group>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <md-input-container class="form-full-width">
          <input mdInput placeholder="Nº do termo" formControlName="">
        </md-input-container>
      </div>

      <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <md-input-container class="form-full-width">
          <input mdInput placeholder="Folha" formControlName="">
        </md-input-container>
      </div>

      <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <md-input-container class="form-full-width">
          <input mdInput placeholder="Livro" formControlName="">
        </md-input-container>
      </div>

      <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <md-input-container class="form-full-width">
          <input mdInput placeholder="Data de emissão da certidão" formControlName="">
        </md-input-container>
      </div>

      <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <md-input-container class="form-full-width">
          <input mdInput placeholder="Nome do cartório" formControlName="">
        </md-input-container>
      </div>

      <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2">
        <md-input-container class="form-full-width">
          <input mdInput placeholder="Municipio do cartório" formControlName="">
        </md-input-container>
      </div>

      <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2">
        <md-input-container>
          <input mdInput placeholder="UF do cartório" [mdAutocomplete]="ufCartorio" formControlName="">
        </md-input-container>
        <md-autocomplete #ufCartorio="mdAutocomplete">
          <md-option value="AC">Acre</md-option>
          <md-option value="AL">Alagoas</md-option>
          <md-option value="AP">Amapá</md-option>
          <md-option value="AM">Amazonas</md-option>
          <md-option value="BA">Bahia</md-option>
          <md-option value="CE">Ceará</md-option>
          <md-option value="DF">Distrito Federal</md-option>
          <md-option value="ES">Espirito Santo</md-option>
          <md-option value="GO">Goiás</md-option>
          <md-option value="MA">Maranhão</md-option>
          <md-option value="MS">Mato Grosso do Sul</md-option>
          <md-option value="MT">Mato Grosso</md-option>
          <md-option value="MG">Minas Gerais</md-option>
          <md-option value="PA">Pará</md-option>
          <md-option value="PB">Paraíba</md-option>
          <md-option value="PR">Paraná</md-option>
          <md-option value="PE">Pernambuco</md-option>
          <md-option value="PI">Piauí</md-option>
          <md-option value="RJ">Rio de Janeiro</md-option>
          <md-option value="RN">Rio Grande do Norte</md-option>
          <md-option value="RS">Rio Grande do Sul</md-option>
          <md-option value="RO">Rondônia</md-option>
          <md-option value="RR">Roraima</md-option>
          <md-option value="SC">Santa Catarina</md-option>
          <md-option value="SP">São Paulo</md-option>
          <md-option value="SE">Sergipe</md-option>
          <md-option value="TO">Tocantins</md-option>
        </md-autocomplete>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <md-input-container class="form-full-width">
          <input mdInput placeholder="Nº da matrícula (reg.civil)" formControlName="">
        </md-input-container>
      </div>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 div-titulo">Pesquisa</div>
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 div-sub-titulo">Pais:</div>

    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <md-radio-group class="form-full-width" formControlName="">
        <md-radio-button [value]="1">Casados</md-radio-button>
        <md-radio-button [value]="2">Separados</md-radio-button>
        <md-radio-button [value]="3">Separados com nova estrutura familiar.</md-radio-button>
      </md-radio-group>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 div-titulo"> Nova estrutura familiar</div>

    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <md-radio-group class="form-full-width" formControlName="">
        <md-radio-button [value]="1">O pai</md-radio-button>
        <md-radio-button [value]="2">A mãe</md-radio-button>
        <md-radio-button [value]="3">Outro</md-radio-button>
      </md-radio-group>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <md-select class="form-select-container" placeholder="Iniciou a vida escolar na idade certa:" formControlName="vida_escolar">
        <md-option value="Sim e permanece">Sim e permanece</md-option>
        <md-option value="Sim e não permanece">Sim e não permanece</md-option>
        <md-option value="Não">Não</md-option>
      </md-select>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <md-select class="form-select-container" placeholder="Apresenta alguma dificuldade na fala?" formControlName="dificuldade_fala">
        <md-option value="Sim">Sim</md-option>
        <md-option value="Não">Não</md-option>
      </md-select>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <md-select class="form-select-container" placeholder="Deficiência" formControlName="">
        <md-option value="Não possui">Não possui</md-option>
        <md-option value="Física">Física</md-option>
        <md-option value="Múltipla">Múltipla</md-option>
        <md-option value="Cegueria">Cegueria</md-option>
        <md-option value="Baixa visão">Baixa visão</md-option>
        <md-option value="Surdez">Surdez</md-option>
        <md-option value="NDefic. auditiva">Defic. auditiva</md-option>
        <md-option value="Surdocegueria">Surdocegueria</md-option>
      </md-select>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <md-select class="form-select-container" placeholder="Apresenta alguma dificuldade de locomoção, postura e / ou coordenação?"
        formControlName="">
        <md-option>Sim</md-option>
        <md-option>Não</md-option>
      </md-select>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <md-select class="form-select-container" placeholder="Apresenta bom desempenho nas atividades de educação física? " formControlName="">
        <md-option>Sim</md-option>
        <md-option>Não</md-option>
      </md-select>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <md-select class="form-select-container" placeholder="Transtorno global do desenvolvimento" formControlName="">
        <md-option>Não possui</md-option>
        <md-option>Autismo infantil</md-option>
        <md-option>Sindr, de asperger</md-option>
        <md-option>Transtorno desint, da infância</md-option>
      </md-select>
    </div>

    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
      <md-select class="form-select-container" placeholder="Altas habilidades/superdotação" formControlName="">
        <md-option>Sim</md-option>
        <md-option>Não</md-option>
      </md-select>
    </div>

    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
      <md-select class="form-select-container" placeholder="Tipo de certidão civil" formControlName="">
        <md-option value="Não possui">Não possui</md-option>
        <md-option value="Nascimento">Nascimento</md-option>
        <md-option value="Casamento">Casamento</md-option>
      </md-select>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 div-titulo">Dados Variáveis</div>
    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
      <md-select class="form-select-container" placeholder="Recebe Bolsa Família:" formControlName="">
        <md-option value="Sim">Sim</md-option>
        <md-option value="Não">Não</md-option>
      </md-select>
    </div>

    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
      <md-select class="form-select-container" placeholder="Recebe escolarização em outro espaço:" formControlName="">
        <md-option value="Outro">Outro</md-option>
        <md-option value="Domicilio">Domicilio</md-option>
        <md-option value="Não Recebe">Não Recebe</md-option>
      </md-select>
    </div>

    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
      <md-select class="form-select-container" placeholder="Transporte escolar Publico" formControlName="">
        <md-option value="Utiliza">Utiliza</md-option>
        <md-option value="Não Utiliza">Não Utiliza</md-option>
      </md-select>
    </div>

    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
      <md-select class="form-select-container" placeholder="Veiculo rodoviário utilizado no transp. escolar" formControlName="">
        <md-option value="vans/kombis">Vans/Kombis</md-option>
        <md-option value="Microônibus">Microônibus</md-option>
        <md-option value="Bicicleta">Bicicleta</md-option>
        <md-option value="Outro tipo de veiulo rodoviario">Outro tipo de veiulo rodoviario</md-option>
      </md-select>
    </div>

    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
      <md-select class="form-select-container" placeholder="Poder Público responsável pelo transporte scolar:" formControlName="">
        <md-option value="Municipal">Municipal</md-option>
        <md-option value="Estadual">Estadual</md-option>
      </md-select>
    </div>

    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
      <md-input-container class="form-full-width">
        <input mdInput placeholder="Veiculo aquiavário utilizado no trasnp. escolar" formControlName="">
      </md-input-container>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <md-input-container class="form-full-width">
        <input mdInput placeholder="Fonte de Financiamento:" formControlName="">
      </md-input-container>
    </div>

  </form>
</div>
