<md-card class="example-card">
  <md-card-header>
    <div class="" style="text-align: center;  width: 100%; margin: 0 0 20px -15px;">
      <img src="../../../assets/logo/logo-login.png" alt="" style="text-align: center;" />
    </div>
  </md-card-header>

  <form (ngSubmit)="onSignin(f)" #f="ngForm">
    <md-card-content>

      <md-input-container class="full-width">
        <input  type="email" id="email" name="email" ngModel mdInput required placeholder="Email">
      </md-input-container>

      <md-input-container class="full-width">
        <input type="password" id="password" name="password" ngModel mdInput required placeholder="Senha">
      </md-input-container>

    </md-card-content>
    <md-card-actions>
      <button type="submit" [disabled]="!f.valid" md-raised-button color="primary" style="width:100%;">Entrar</button>
    </md-card-actions>
  </form>
  <!--a class="nav-link" [routerLink]="['/login', 'cadastro']">Registra</a -->
</md-card>
