

<div class="row">

<div class="col-md-6"></div>
<div class="col-md-6">
  <ul>
    <li *ngFor="let usuario of todosUsuarios" >
      {{ usuario.id }}

    </li>
  </ul>


</div>
<div class="col-md-6"></div>
</div>
