@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
html,
body,
material-app,
md-sidenav-container,
.my-content {
    margin: 0;
    width: 100%;
    height: 100%;
}

md-sidenav-container{
    min-height: 800px;
    height: 100% !important;
}

md-sidenav {
    width: 240px;
    min-width: 240px;
    max-width: 240px;
    height: 100%;
    overflow-x: hidden;
    background-color: rgb(45, 50, 62);
    color: rgba(255, 255, 255, 1);
    transition: all .3s cubic-bezier(.55, 0, .55, .2), width .1s linear, min-width .1s linear, max-width .1s linear;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}

.mat-sidenav-content {
    position: relative;
    transform: translate3d(0,0,0);
    display: block;
    height: 100%;
    display: inline-block;
}


/*breadcrumb*/

.breadcrumb {
    padding:0px !important;
    margin-bottom:0px !important;
    list-style: none;
    background-color: #eceeef;
    border-radius: .25rem;
}
.breadcrumb .breadcrumb-item {
    padding: 10px 0 10px 0px;
}

.breadcrumb .breadcrumb-item-button {
    margin-right: 10px !important;
}

.breadcrumb .breadcrumb-item-primeiro{
    margin-left: 10px !important;
}


button.example-fab.mat-button[_ngcontent-c5] {
    background: #666 !important;
    padding: 5px 0px !important;
    min-width: 70px;
}


