<app-navbar></app-navbar>
<md-sidenav-container>
  <ol class="breadcrumb">
    <li class="breadcrumb-item-button"><button md-button class="example-fab" (click)="sidenav.toggle()" style=" float: left">
    <md-icon class="material-icons mat-icon">menu</md-icon>
</button>
    </li>
    <li class="breadcrumb-item breadcrumb-item-primeiro"><a href="#">Inicial</a></li>
    <li class="breadcrumb-item active"></li>
  </ol>

  <md-sidenav #sidenav mode="side" opened="true">
    <app-sidenav></app-sidenav>
  </md-sidenav>

  <main>
    <br>
    <router-outlet></router-outlet>
  </main>

</md-sidenav-container>
<app-footer></app-footer>
