.bg-login {
    width: 100%;
    min-height: 100%;
    height: 100vh;
    background-color: #00bcd4 !important;
    display: inline-block;
}

.login-form {
    width: 250px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 25px;
    box-sizing: content-box;
}

.login-form label {
    font-size: 1.1rem;
    left: 0;
}

.mat-card-header-text {
    margin: 0px !important;
    width: 0px !important;
    display: none !important;
}