/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
html,
body,
app-root,
main {
  width: 100%;
  height: 100%;
}

.loader {
  width: 100%;
}

.div-titulo {
  font-size: 1.3rem;
  font-weight: 400;
}

.div-sub-titulo {
  font-size: 1.1rem;
  font-weight: 400;
  color: #666;
}


/*FORM*/

.form-select-container {
  width: 100%;
  padding: 15px 0;
}

.full-width,
.form-full-width {
  width: 100%;
}

.form-full-width,
.mat-input-container {
  width: 100% !important;
}
