<table class="table table-responsive">
    <thead>
        <tr>
            <th>Matrícula</th>
            <th>Matrícula Final</th>
            <th>Nome</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let alunod of alunos" >
                <td> {{ alunod.nome }}</td>
                <td> {{ alunod.matricula }}</td>
        </tr>
    </tbody>
</table>
